<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bladeraid.game"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <!-- 게임 파일이 앱 안에 들어있어 인터넷 권한이 필요 없음 -->

    <application
        android:label="BLADE RAID"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
